/* CSS for the entire application */

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.body {
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
}

.subtitle {
  font-size: 26px;
  line-height: 1.5;
}

.header {
  background-color: #e4251b;
  height: 150px;
  color: white;
  font-family: Georgia, serif;
  font-size: x-large;
  font-style: bold;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 100px;
}

.header_img {
  height: 450px;
}

.title_img {
  width: 100vw; 
  height: 450px; 
  object-fit: cover; 
  display: block;
}

.card_img{
  width: 40vw; 
  height: 300px; 
  object-fit: cover; 
  display: block;
  padding-bottom: 20px;
}

.card_container{
  display: flex;
  gap: 30px; 
  justify-content: center;
  flex-wrap: wrap; 
  width: 100%; 
  margin-top: 20px;
  padding-top: 20px;
}

.card{
  width: 25vw; 
  background: #f8f9fa;
  border-radius: 8px;
  padding: 15px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Helvetica Neue';
  margin-bottom: 50px;
}

.card h2 {
  text-decoration: underline;
  color: #3370cc;
}

.img_2 {
  width: 100%; 
  height: 220px; 
  object-fit: cover; 
  display: block;
  padding-bottom: 20px;
} 

.card_description{
  font-size: 18px;
  padding-top: 10px;
}

.event_subtitle {
  padding-top: 40px;
  padding-bottom: 30px;
  font-size: 30px;
}

.card_footer {
  padding-top: 10px;
  font-weight: bold;
}

.event_type{
  font-style: italic;
}

.program_date {
  padding-top: 40px;
  font-size: 30px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.side {
  width: 25%;
}

.middle{
  width: 75%;
}

.location_img {
  width: 100%;
  padding-top: 15px;
  height: 450px; 
  object-fit: cover; 
  display: block;
}

.location {
  padding-top: 30px;
  font-family: 'Helvetica Neue';
  text-decoration: underline;
  color: #3370cc;
}

.address {
  padding-top: 30px;
  font-size: 20px;
  font-family: 'Helvetica Neue';
}

.postcode {
  font-family: 'Helvetica Neue';
  padding-bottom: 30px;
  font-size: 20px;
}

.button {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #e7e7e7;  
  color: black;
  border: none;
}

.button:hover {background-color: #b2b2b2;}

.program_end{
  padding-bottom: 50px;
}

.accessibility {
  font-size: 20px;
  font-family: 'Helvetica Neue';
}

.accessibility-container {
  display: flex;
  gap: 8px;       
  align-items: center; 
  padding-top: 10px;
}

.icon {
  width: 30px;  
  height: auto;
}

.bike {
  width: 40px;
}

.filter-container {
  padding-top: 20px;
  font-family: 'Helvetica Neue';
  font-weight: bold;
}